* {
  font-size: 16px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

ul {
  list-style: none;
  text-decoration: none;
}

.brief {
  display: grid;
  grid-gap: 1rem 1rem;
  grid: 200px / auto-flow;
  grid: 30% / auto-flow dense;
  grid: repeat(3, [line1 line2 line3] 200px) / auto-flow 300px;
  grid: [line1] minmax(20em, max-content) / auto-flow dense 40%;
}

.brief h1 {
  font-size: 4rem;
}
