* {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

html,
body {
  width: 100%;
  padding: 2rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  nav li a {
    color: white;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  align-content: center;
}

ul {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}

ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}

nav li {
  display: inline-block;
}

nav li a {
  font-size: 2rem;
  color: black;
  font-weight: 200;
  text-decoration: none;
}

/* .grid {
  display: grid;
  grid-gap: 1rem 1rem;
  grid-template-columns: minmax(200px, 800px);
  grid-template: repeat(4, 20px) 1fr repeat(4, 20px) / repeat(2, 1fr);
}

.intro {
  grid-area: 5/ 1 / 6 / 2;
} */

.intro h1 {
  font-size: 4rem;
  text-align: left;
}

.fly-text1 {
  font-size: 2rem;
  animation: flowing 18s linear infinite;
  transform: translateX(120%);
}
.fly-text2 {
  font-size: 2rem;
  animation: flowing 10s linear infinite;
  transform: translateX(120%);
}
.fly-text3 {
  font-size: 2rem;
  animation: flowing 16s linear infinite;
  transform: translateX(120%);
}
.fly-text4 {
  font-size: 2rem;
  animation: flowing 9s linear infinite;
  transform: translateX(120%);
}
.fly-text5 {
  font-size: 2rem;
  animation: flowing 13s linear infinite;
  transform: translateX(120%);
}
.fly-text6 {
  font-size: 2rem;
  animation: flowing 10s linear infinite;
  transform: translateX(120%);
}
.fly-text7 {
  font-size: 2rem;
  animation: flowing 12s linear infinite;
  transform: translateX(120%);
}

@keyframes flowing {
  100% {
    transform: translateX(-100%);
  }
  0%,
  20.00% {
    opacity: 0.5;
  }
  20.00%,
  50.35% {
    opacity: 1;
  }
  50.35%,
  100% {
    opacity: 0.5;
  }
}
